@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Tajawal, sans-serif;
}
section {
    min-height: 100vh;
    background: #f1f5f8;
}
.heading {
    text-align: center;
    background-color: #6C0BA9;
    color: #fff;
    padding: 1rem;
    font-size: 2rem;
}
.display-area {
    font-size: 12rem;
    text-align: center;
    margin-top: 5rem;
    font-family: inherit;
    font-weight: #222222;
}
.btns {
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    margin-top: 12rem;
}
button {
    padding: 1rem;
    border-color: transparent;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    font-family: inherit;
    font-weight: bold;
    transition: all 0.3s linear;
}
.clear {
    background: #FF3131;
}
.increament {
    background: #00FF00;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover {
    scale: 1.1;
}
